@using Congratulator.Data.Models.ViewModels
@model PersonViewModel

<div class="card-input">
	<form enctype="multipart/form-data" method="post" asp-controller="Person" asp-action="CreatePerson">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label >Имя</label><br/>
            <input class="form-control" asp-for="Name" />
            <p><span class="input-validatoin-text" asp-validation-for="Name"></span></p>
        </div>
        <div>
            <label asp-for="Surname">Фамилия</label><br />
            <input class="form-control" asp-for="Surname" />
            <p><span class="input-validatoin-text" asp-validation-for="Surname"></span></p>
        </div>
        <div>
            <label>Дата рождения</label><br />
            <input type="date" class="form-control" asp-for="DateOfBirth" />
            <p><span class="input-validatoin-text" asp-validation-for="DateOfBirth"></span></p>
        </div>
        <div>
            <label>Фото именинника</label>
            <input name="Avatar" type="file"  class="form-control" />
            <p><span class="input-validatoin-text"  asp-validation-for="Avatar"></span></p>
        </div>
        <div>
            <label >Номер телефона</label><br/>
            <input class="form-control" placeholder="9ххххххххх" id="phone" asp-for="PhoneNumber" />
            <p><span class="input-validatoin-text" asp-validation-for="PhoneNumber"></span></p>
        </div>
        <div>
            <input class="button-input" type="submit" value="Добавить"  />
        </div>
    </form>
</div>
