@using Congratulator.Data.Models.ViewModels
@model PersonViewModel

<form method="post" asp-controller="Person" asp-action="CreatePerson">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br/>
        <input class="input-register" asp-for="Name" />
        <p><span class="input-validatoin-text" asp-validation-for="Name"></span></p>
    </div>
    <div>
        <label asp-for="Surname"></label><br />
        <input class="input-register" asp-for="Surname" />
        <p><span class="input-validatoin-text" asp-validation-for="Surname"></span></p>
    </div>
    <div>
        <label asp-for="DateOfBirth"></label><br />
        <input class="input-register" asp-for="DateOfBirth" />
        <p><span class="input-validatoin-text" asp-validation-for="DateOfBirth"></span></p>
    </div>
    <div>
        <input class="button-register" type="submit" value="Добавить" onclick="alert('Пользователь успешно добавлен')" />
    </div>
</form>
